<div id="container" style="display: flex">
    <ag-grid-angular 
    style="width: 100%; height: 100%;" 
    class="ag-theme-balham-dark"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [rowClass] = "'classFontGrid'"
    [rowHeight]="25"
    [headerHeight]="35"
    (gridReady)="onGridReady($event)"
    >
</ag-grid-angular>
<button mat-raised-button class="mat-accent mr-16" (click)="MostrarFormulario()" style="white-space: pre-wrap !important;height: 100%;
font-size: 11px;">Generar Nueva Oferta</button>
</div>