// Import Fuse main library
@import "@fuse/scss/core";
.Cumplido{
    background: green;
}
.InCumplido{
    background: firebrick;
}
.classFontGrid{
    font-size: 13px;
}
.my-css-class{
    font-size: 17px;
}
@import "~golden-layout/src/css/goldenlayout-base.css";
@import "assets/css/GoldenLayoutThemes.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";