#container-total {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background: teal;
}

.mainContainerDemandOfert{
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	        align-items: stretch;
	height: 100%;
	margin-top: 5px;
}

.totalpyp {
	color: white;
	padding: .1em;
	text-align: center;
	margin: .1em;
	border-radius: 3px;
	font-size: 11px;
}


.totalpyp.buy {
	background: #2561aa;
	width: 100%;
}

.totalpyp.sell {
	background: red;
	width: 100%;
}

.containerHeaderPyP {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	        align-items: center;
	padding: 0 .2em;
	margin: 2px 0;

	height: 20px;
}

.toggleGroup{
	margin: auto;
	margin-left: 5px;
    margin-right: 5px;
}
.bestPrice{
	font-size: 10px !important;
}

.icon-buysell{
	font-size:0.8em !important;
	color:white;
	cursor:pointer;
	padding: .2em;
}

.mat-slide-toggle-thumb{
	background: #FF9800 !important;
}