<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="Service" value="http://190.143.80.71/DataiFXServices/" />-->
    <!--<add key="Service" value="http://192.168.11.221/DataiFXServices/" />-->
    <!--<add key="Service" value="http://23.100.20.115/DataIFXServices/" />-->
    <add key="Service" value="http://localhost/Dataifx.Trading.Services2/" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>